.discount {
    margin: 0 6px 0 0;
    font-weight: 500;
    font-size: 16px;
    color: #393939;
}

.price-discount {
    margin: 0;
    color: #ADADAD;
    font-weight: 300;
    font-size: 14px;
    text-decoration: line-through;
    color: #ADADAD;
}

.red-discount {
    position: absolute;
    top: -4%;
    left: -12%;
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 50px solid red;
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.red-discount span {
    position: absolute;
    color: white;
    top: 26px;
    left: -21px;
    font-weight: 500;
    font-size: 12px;
}